:root {
  --black: #2d2e2e;
  --dark-green: #3A4F39;
  --grey: #ABABAB;
  --light-grey: #F6F6F6;
  --white: #FFFFFF;
  --light-green: #EFF6F3;
  --yellow: #F8D254;
  --green: #A0CD9E;

  color: #000;

  /* Text default */
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

html {
  height: 100%;
  width: 100%;
}

h1 {
  font-size: 50px;
  font-weight: 600;
}

.menu-title {
  font-size: 32px;
  font-weight: 600;
}

b,
strong {
  font-weight: 600;
}

.caption {
  font-size: 12px;
  font-weight: 400;
}

button {
  font-size: 18px;
  font-weight: 500;
}

.btn-primary {
  display: inline-flex;
  height: 56px;
  padding: 17px 30px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 4px;
  background: var(--Dark-green-buttons, #3A4F39);
}